<%= form_with(model: spell, local: true) do |form| %>
  <% if spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spell.errors.count, "error") %> prohibited this spell from being saved:</h2>

      <ul>
      <% spell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :higher_level %>
    <%= form.text_area :higher_level %>
  </div>

  <div class="field">
    <%= form.label :range %>
    <%= form.text_area :range %>
  </div>

  <div class="field">
    <%= form.label :casting_time %>
    <%= form.text_area :casting_time %>
  </div>

  <div class="field">
    <%= form.label :classes %>
    <%= form.text_area :classes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
